/*BEGIN Top Landing Styles*/
.landing {
  background-color: #72bcd4;
  width: 100%;
  height: 100vh;
}

.landing h1 {
  text-align: center;
  padding-top: 30vh;
  margin-top: 0px;
}

.headshot-container {

}

.landing img {
  width: 200px;
  height: 100;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  /*position:absolute;
  top:70%;
  left:50%;
  transform: translate(-50%, -50%);*/
}

/*END Top Landing Styles*/

/*BEGIN Nav Styles*/
nav {
  background-color: silver;
  border-radius: 0 !important;
  z-index: 9999;
}

nav li {
  text-align: center;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
  font-size: 26px;
}

.navbar-nav li {
  font-size: 18px;
}

.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
/*End Nav Styles*/

/*BEGIN Content Sections Styles*/
.content-sections {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.content-sections h1 {
  text-align: center;
  padding-top: 50px;
}

.content-sections p {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}



/*END Content Sections Styles*/


/*BEGIN About Styles*/


/*End About Styles*/

/*BEGIN Projects Styles*/
.projects h1 {
  margin-bottom: 30px;
}

.projects img {
  width: 100%;
  text-align: center;
}




/*End Projects Styles*/

/*BEGIN Contact Styles*/
.contact {
  height: 500px;
}

/*End Contact Styles*/
